@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Industrial Steel (light) */
    --background: 240 6% 4%;;
    --foreground: 0 0% 98%; /* #0F172A */

    --card: 210 40% 99%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 38 92% 50%; /* #1E293B */
    --primary-foreground: 0 0% 98%;

    --secondary: 215 25% 27%; /* #334155 */
    --secondary-foreground: 0 0% 98%;

    --muted: 210 30% 94%;
    --muted-foreground: 215 16% 47%;

    --accent: 38 92% 50%; /* #F59E0B */
    --accent-foreground: 222 47% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 18% 78%;
    --input: 210 18% 78%;
    --ring: 38 92% 50%;

    --radius: 0.75rem;

    /* charts (opcional, podes manter) */
    --chart-1: 217 33% 17%;
    --chart-2: 215 25% 27%;
    --chart-3: 222 47% 11%;
    --chart-4: 38 92% 50%;
    --chart-5: 210 16% 82%;

    
  }

  .dark {
    /* Industrial Steel (dark) - opcional */
    --background: 222 47% 11%;
    --foreground: 0 0% 98%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 98%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 222 47% 11%;

    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 98%;

    --muted: 215 25% 27%;
    --muted-foreground: 210 16% 82%;

    --accent: 38 92% 50%;
    --accent-foreground: 222 47% 11%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 215 25% 27%;
    --input: 215 25% 27%;
    --ring: 38 92% 50%;
  }

  body {
    @apply bg-background text-foreground;
  }
}
